.body{
    background-color: gray ;
}

.tittle{
    font-size: 30px;
    margin-bottom: 70px;
   
    
}

.forms1{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.email{
    background-color:#003049;
    color: white;
    position: fixed;
    top: 10%;
    width: 20%;
    padding: 80px;
    
    text-align: center;
    font-size: larger;
    border-radius: 100px;
    
}
.cpf{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.verificarcpf{
    text-align: center;
    margin-left: 10px;
    text-align: right;
    position: absolute;
    font-size: 15px;
    
}
.senha{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;   
}

.confirmasenha{
    text-align: center;
margin-bottom: 25px;
margin-left: -99px;
}


   
.confirmardados{
    text-align: center; 
    font-size: 25px;
}

.submit{
    margin-top: 60px;
    background-color: rgb(195, 13, 0);
    color: #f4f4f4;
    font-size: 25px;
    border-radius: 50px;
    width: 40%;
    
    
}

.logo01{

    position: absolute;
    border-radius: 20px;
    
    text-align: center;
    color: black;
    width: 180px;
    
    left: 50%;
    top: 88%; /* Opcional, se também quiser centralizar verticalmente */
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
}



/* Estilos para mensagens de erro */
.error {
    margin-top: -25% ;
    position: absolute;
    
    font-size: large;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    width: 250px;
    transform: translate( -175%); /* Centraliza horizontal e verticalmente */
    display: none; /* Inicialmente escondido */
    right: 130px; 
}

/* Estilos para mostrar a mensagem de erro */
.error.show {
    display: block;
    font-size: 15px;
}

/* Adiciona uma seta ao balão de erro */
.error::before {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #f8d7da transparent transparent transparent;
    top: 50%;
    left: -10px;
    transform: translateY(-
    0%);
}
