.tittle {
    font-size: 30px;
    margin: 50px;
}

.cadastro {
    background-color: #003049;
    color: white;
    position: fixed;
    height: 70%;
    width: 450px;
    text-align: center;
    font-size: larger;
    border-radius: 100px;
}

.form {
    position: fixed;
    left: 38%;
    top: 5%;
}

input {
    margin: 15px;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding-left: 10px;
    border-style: none;
    border: solid;
}

.cb {
    margin-top: 20x;
    width: 10px;
    height: 20px;
    background-color: red;
}

.cpf {
    width: 185px;
}

.buttonVericaCpf {
    background-color: #D62828;
    border-radius: 10px;
    color: #f4f4f4;
    border-style: none;
    height: 35px;
}

.buttonVericaCpf:hover {
    background-color: rgb(148, 0, 0);
    transition-duration: 0.2s;
    cursor: pointer;
}



.confirmardados {
    display: flex;
    font-size: 15px;
    justify-content: start;
    align-items: center;
    padding-left: 75px;
}


/* BOTÃO DE CADASTRO */
.submitTrue {
    background-color: red;
    color: #f4f4f4;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;

    font-size: 20Px;

    height: 7%;
    width: 50%;
    margin-top: 60px;
}

.submitTrue:hover {
    background-color: rgb(148, 0, 0);
    transition-duration: 0.2s;
    cursor: pointer;
}

/* .submitFalse:hover {
    background-color: rgb(148, 0, 0);
    transition-duration: 0.2s;
    cursor: pointer;
} */

/* POLÍTICAS DE PRIVACIDADE  */
.politics {
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;

}

.politics:hover {
    color: rgb(205, 205, 205);
    transition-duration: 0.2s;
    cursor: pointer;
}

/* Estilo para o rodapé */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

/* Estilo para o logo */
.logo01 {
    border-radius: 20px;
    color: black;
    width: 180px;
    text-align: center;
    margin-top: 80%;
}