body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.backgroundPay{
    background-color: #003049;
}
.seleciona{
    font-size: 18px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.payment-fields {
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Alinha os campos verticalmente */
}

input {
    width: 100%; /* Ajusta a largura dos inputs */
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hidden {
    display: none; /* Classe para ocultar campos */
}

.qrcode{
    width: 300px;
    height: 220px;
    text-align: center;
    display: flex;
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: none;
   
}
.navbarPay{
    background-color: #D62828;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metodo{
    font-weight: 700;
}
.pix{
   
    
}
.remove-button {
    background: red;
    border: none;

    font-size: 60px; /* Tamanho do ícone */
    cursor: pointer;
    
 
}
