/* home.css */

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.backgroundHome {
    background-color: #003049;
}

.navbarHome {
    background-color: #D62828;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinhoLogin {
    display: flex;
    align-items: center;
}

.inputSearch {
   color: black;
    width: 400px;

    margin: 2px;
}

.icones {
    width: 40px;
    margin: 20px;
}

.iconeLupa{
    width: 40px;
}
.iconeLupa:hover{
    cursor: pointer;
}

.user {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-weight: bold;
}

.user p{
    margin: 0;
    line-height: 0.7;
    color: white;
}

.user a{
    color: white;
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}


.card img {
    width: 200px;
    margin: 5%;
}

.card .nomeProduto{
    font-weight: bolder;
    font-size: 20px;
}


.card .preco{
    font-weight: bolder;
    font-size: 30px;
}
.card .avaliacao{
    font-weight: bolder;
    font-size: 20px;
    color: rgba(140, 119, 36, 0.955);
    margin: 10px;
}

.card .detalhes{
    font-weight: bolder;
    font-size: 20px;
    color: rgba(194, 72, 28, 0.955);
    text-shadow: 0px 10px 15px;
    margin: 10px;
}


/* EXIBIR VEÍCULOS */
.containerCar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin: 5%;
}