.bodyList {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.logoUsuario {
    border-radius: 20px;
    color: black;
    width: 180px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.dvm-circle:hover {
    cursor: pointer;
    background-color: rgb(15, 70, 3);
}

.listUser {
    width: 1000px;
    height: 800px;
    position: fixed;


    background-color: var(--corBase);
    border-radius: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.listUser h1 {
    color: white;
}

.logoMenu {
    width: 50px;
    height: 50px;
}

.addButton {
    margin: 5px;
    background-color: rgb(21, 120, 1);
    color: white;
    width: 40px;
    font-size: 30px;
    height: 40px;

    border-style: none;
    font-weight: bolder;

    border-radius: 50px;
    margin-left: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userUnique {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.userUnique p {
    font-weight: bold;
    margin: 5px;
}

.userUnique .ativar {
    background-color: rgb(55, 144, 55);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.userUnique .desativar {
    background-color: rgb(227, 49, 49);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.userUnique .inativo {
    background-color: rgb(145, 145, 145);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.userUnique .inativo:hover {
    background-color: rgb(95, 95, 95);
    transition: 0.2s;
}

.userUnique .desativar:hover {
    background-color: rgb(171, 0, 0);
    transition: 0.2s;
}

.userUnique .ativar:hover {
    background-color: rgb(19, 78, 19);
    transition: 0.2s;
}