
.bodyList{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logoUsuario{
    border-radius: 20px;
    color: black;
    width: 180px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

.listUser{
    width: 1000px;
    height: 800px;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    top: 5%;

    background-color: var(--corBase);
    border-radius: 20px;

    display: flex;
    justify-content:baseline;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 10px;
}

.listUser h1  {
    color: white;
}

.userUnique{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 80%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.userUnique p {
    font-weight: bold;
}

.userUnique .ativar {
    background-color: rgb(55, 144, 55);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;    
    color: white;
}

.userUnique .desativar {
    background-color: rgb(227, 49, 49);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}


.userUnique .desativar:hover{
    background-color: rgb(171, 0, 0);
    transition: 0.2s;
} 

.userUnique .ativar:hover{
    background-color: rgb(19, 78, 19);
    transition: 0.2s;
} 