
.caixa {
    position: absolute;
    text-align: center;
    padding: 30px;
    left: 50%;
    top: 20%; /* Opcional, se também quiser centralizar verticalmente */
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    margin-top: 30px;
    background-color: #014d83;
    width: 380px;
    position: absolute; 
    color: #f4f4f4;
    padding-top: 30px;
    border-radius: 30px;
    
}
/* para texto com link*/
.caixa a{
    color: white;
    text-decoration: none; /*remove o sublinhado do links*/
}

a:hover {
    color: rgb(206, 206, 206);
    transition-duration: 0.3s;
}





/* para texto com link*/
.listProduto{
    font-size: large;
    
    margin-bottom: 20px;
}

.listUsuario{
    margin-bottom: 20px;
    font-size: large;
}

.listPedidos{
    font-size: large;
    
}


.logoListar{
    border-radius: 20px;
    color: black;
    width: 180px;
    text-align: center;
    margin-top: 80%;
}