body{
    font-family: Arial, Helvetica, sans-serif;
}


.caixa {
    position: absolute;
    text-align: center;
    padding-top: 5%;
    left: 50%;
    top: 20%; /* Opcional, se também quiser centralizar verticalmente */
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    margin-top: 10%;
    background-color: #014d83;
    width: 380px;
    height: 380px;
    position: absolute; 
    color: #f4f4f4;
    border-radius: 5px;
}
/* para texto com link*/
.caixa a{
    color: white;
    text-decoration: none; /*remove o sublinhado do links*/
}

a:hover {
    color: rgb(206, 206, 206);
    transition-duration: 0.3s;
}

.title{
    padding: 10px;
}

/* para texto com link*/
.listProduto{
    font-size: large;
    
    margin-bottom: 20px;
}

.listUsuario{
    margin-bottom: 20px;
    font-size: large;
}

.listPedidos{
    font-size: large;
    
}

.logout{
    font-size: 20px;
    display: flex;
    float: right;
    margin: 50px;
}

.logout:hover{
    transition-duration: 0.1s;
    font-size: 25px;
    cursor: pointer;
}


.logoListar{
    position: fixed;
    left: 45%;
    margin-top: 35%;
    border-radius: 20px;
    color: black;
    width: 180px;
    text-align: center;
}