.login {
    background: radial-gradient(circle, rgba(78,78,78,1) 0%, rgba(0,0,0,1) 100%);    color: white;
    position: fixed;
    height: 400px;
    width: 450px;
    text-align: center;
    font-size: larger;
    border-radius: 70px;
    left: 38%;
}

footer {
    position: fixed;
    bottom: 150px;
    left: 45%;
}

.submitTrue {
    background-color: red;
    color: #f4f4f4;
    border-radius: 10px;
    border-style: none;
    font-weight: bolder;

    font-size: 20Px;

    height: 45px;
    width: 90px;
    margin-top: 60px;
}

.login input {
    margin: 10px;
}