@import url(./listar.css);
@import url(./cadastro.css);
@import url(./login.css);
@import url(./listar_usuario.css);
@import url(./variaveis.css);

html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: srgb(255, 255, 255);

    background: rgb(255, 255, 255) url(../IMAGENS/background.png) center;
}