@import url(./listar.css);
@import url(./cadastro.css);
@import url(./login.css);
@import url(./home.css);
@import url(./detalhe.css);
@import url(./listar_usuario.css);
@import url(./variaveis.css);
@import url(./carrinho.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: srgb(255, 255, 255);

}

input {
    height: 36px;
    width: 250px;
    border-radius: 15px;
    padding-left: 10px;
    border-style: none;
}